* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;  
  font-family: Montserrat;
  font-size: 16px;
  color: black;
  background: #dee1e4;
}

.wrapper {  
  display: flex;
  width: 1024px;
  margin: 0 auto;
  background: rgba(243, 242, 237, 0.904);
  border-radius: 4px;
}

.sitebar {  
  width: 950px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #3ea1e4;
  border-radius: 4px 0px 0px 4px;
}
.container {  
  position: relative;
  padding: 60px;
}
.my-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%; 
}

.about-me-container ul,
.about-me-container li {
  text-decoration: none;
  list-style-type: none;
}
/* Contacts */
.contact-container {
  margin-right: 0px;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.contacts-link-type {
  display: table; 
  color: #ffffff;
}
.contacts-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contacts-link { 
  margin-bottom: 10px;
  text-decoration: none;
  text-align: left;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* tech-skills */
.tech-skills-title {
  font-size: 20px;
  font-weight: 515;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.tech-skills-title::after {
  content: "";   
    left: 0;
    bottom: 0;
    display: block;
    width: 60%;
    height: 3px;
    background-color: #ffffff;;
    border-radius: 2px;
}

.tech-skills-container {
  margin-right: 0px;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.tech-skills {
  margin-left: 20px;
}

.tech-skills-item {
  margin-bottom: 8px;
  color: #ffffff;
}

.skill {
  list-style: disc;
}

.print {
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 24px;
  right: 24px;
  color: #87888b;
}

/* about me */
.name {
  margin-top: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 30px;
  text-align: center; 
}
.position {
  text-align: center;
}
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
  width: 100%;
  text-align: justify;
  color: black;
}
.project-item {
  margin-bottom: 16px;
}

.project {
  font-size: 18px; 
  border-bottom: groove;
}
.info-container {
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -60px;
  padding: 60px;
  margin-bottom: 25px;
  background-color: #3ea1e4;
}
.about-me-container ul {
  text-decoration: none;
}
.about-me-title {
  display: block;
  width: 570px;
  height: 50px;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  background-color: #3ea1e4;;
  text-transform: uppercase;
}

.profession-title, .project-link {  
  font-weight: 700;
  line-height: 20px;
  margin-top: 16px;
  color: black;
}

.profession-time {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}
.work-experience {
  margin-bottom: 8px;
}

.school-time {
  font-size: 14px;
  font-weight: 500;
  color: #87888b;
  line-height: 22px;
}